.hero-section {
  padding-top: 4rem;
  padding-bottom: 4rem;
  position: relative;
  overflow: hidden;
  z-index: 1; /* Lower than the navbar */
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0; /* Make sure video is behind everything */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Black with some opacity */
  z-index: 1; /* Ensure the overlay is above the video but below other content */
  transition: background 0.3s ease;
}

.text-block {
  margin-bottom: 2rem;
  text-align: center;
}

.image-block img {
  width: 100%;
  height: auto;
}
#cursor, #cursor-blur {
  position: absolute;
  z-index: 10; /* Ensure the cursor is above other content */
}

#cursor {
  width: 20px;
  height: 20px;
  background: #4F46E5; /* Indigo-600 color */
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 1000; /* Ensure it is above other elements */
  /* transition: all linear 0.1s; */
}

#cursor-blur {
  width: 500px;
  height: 500px;
  background: rgba(79, 70, 229, 0.3); /* Indigo-600 color with 30% opacity */
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: all linear 0.1s;
  filter: blur(120px); /* Adjust blur radius if needed */
  z-index: 999; /* Just below cursor */
}

#home .textside {
  z-index: 10; /* Make sure text is above cursor effects */
}

.text-white {
  color: white;
}

.h1-lifted {
  position: relative;
  display: inline-block;
  color: white;
  padding: 10px 20px;
  font-weight: bold;
  text-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3); /* Add text shadow for a 3D effect */
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}

.h1-lifted:hover {
  transform: translateY(-10px); /* Lift more on hover */
}

.hero-bottom-line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px; /* Adjust thickness */
  background-color: rgba(255, 255, 255, 0.8); /* White with some opacity */
  transition: opacity 0.3s ease;
}
