.service-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(165 180 252);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
  z-index: 0;
}

.service-card:hover::before {
  transform: scaleX(1);
}

.service-card > .relative {
  position: relative;
  z-index: 1;
}
