.service-card {
  position: relative;
  overflow: hidden;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.service-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to right,
    #4f46e5,
    #696ce5
  ); /* Adjusted gradient for better contrast */
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
  z-index: 0;
}

.service-card:hover::before {
  transform: scaleX(1);
}

.service-card > .relative {
  position: relative;
  z-index: 1;
}

.service-card img {
  transition: opacity 0.3s ease-in-out;
}

.service-card:hover img {
  opacity: 1;
}
