.subscribe-card {
  background-color: white;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.subscribe-card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  background-color: #4f46e5;
  transition: width 0.3s ease-in-out;
}

.subscribe-card:hover::after {
  width: 100%;
}

.subscribe-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.subscribe-card .text-6xl {
  margin-bottom: 1rem;
}

.subscribe-card h3 {
  margin-bottom: 0.5rem;
}
