/* Global styles */
.testimonial-section {
  background: linear-gradient(to right, #ebeff5, #d4d7e8);
  position: relative;
  overflow: hidden;
}

.testimonial-slider-container {
  position: relative;
  height: 400px;
  overflow: hidden;
}

/* Adjust for mobile view */
@media (max-width: 768px) {
  .testimonial-slider-container {
    height: auto; /* Adjust height based on content */
  }

  .testimonial-card-wrapper {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;
    height: auto; /* Adjust height for mobile view */
    overflow: hidden;
  }

  .testimonial-card {
    width: 90%; /* Ensure card width fits within mobile view */
    height: auto; /* Adjust height based on content */
    margin: 10px 0; /* Add vertical margin for spacing */
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    opacity: 0.8;
  }

  .testimonial-card img {
    border: 4px solid #6366f1;
    width: 80px; /* Adjust image size */
    height: 80px;
  }

  .testimonial-icon {
    position: static; /* Adjust position */
    margin-bottom: 10px;
  }

  .testimonial-card p {
    margin-bottom: 0.5rem;
    color: #4f46e5;
  }

  .testimonial-card h3 {
    margin-bottom: 0.5rem;
  }
}

/* Desktop styles */
@media (min-width: 769px) {
  .testimonial-slider-container {
    height: 400px;
  }

  .testimonial-card-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    overflow: hidden;
  }

  .testimonial-card {
    width: 300px; /* Adjust card width for desktop */
    height: 350px;
    margin: 10px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    opacity: 0.8;
  }

  .testimonial-card img {
    border: 4px solid #6366f1;
    width: 100px; /* Adjust image size for desktop */
    height: 100px;
  }

  .testimonial-icon {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
  }
}
